.snail-header-box{
	background: #6f5499;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.24);
	position: fixed;
	top:0;
    right: 0;
    left: 0;
    z-index: 1030;
}   
 .snail-header-box ul {
	list-style:none;
	margin:0 auto;
	overflow: hidden;
 }
 .snail-header-box ul li{
	float:left;
	
 }
 .snail-header-box ul li a{
	color: #c8c8c8;
    display: block;
    font-size: 14px;
    padding: 0 25px;
 }