<div class="z_main2">
    <div>
        <p>你的知识，可以和更多学生分享 </p>
        <ul>
            <li>帮助海量学生，月入过万</li>
            <li>分享可以轻松，只需几题</li>
            <li>时间灵活，仅需知识和电脑</li>
        </ul>
        <button class="apple">申请成为老师</button>
    </div>
</div>
<div class="myBtn1" style="display: none;">
    <img src="../assets/X_2@1x.png" alt="" class="z_xx" style="float:right;">
    <p><img src="../assets/z_logo2.jpg" alt=""></p>
    <p>教  学  管  理  系  统</p>
    <ul>
        <li>
            <span><span class="tips" id="uname_tips"></span>手机号：</span>
            <input type="tel" required="" placeholder="请输入你的账号" id="uname">
        </li>
        <li>
            <span>密码：</span>
            <input type="password" required="" placeholder="密码（6-20位）" id="pwd">
            <em class="icon_ok"></em>
        </li>
    </ul>
    <!-- 跳转到主页面-->
    <a href=""><button class="login_1" id="login">登录</button></a>
    <a href="">账号注册<span style="display: inline;margin-left:10px;">|</span> </a>
    <a href="" class="forget"><span style="display: inline;margin-left:10px;">忘记密码</span> </a>
</div>