<div class="modal fade l_grouping in" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
            <div class="modal-dialog l_modal-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModel()"> × </button>
                        <h4 class="modal-title" id="myModalLabel"> 打印班级报告 </h4>
                    </div>
                    <div class="modal-body">
                        <div class="c_print-report-content">
							<div class="c_already-completed">
								<div class="c_already-completed-tip">已完成学生</div>
								<div class="c_already-completed-students">
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div><div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
								</div>
							</div>
							<div class="c_still-doing">
								<div class="c_still-doing-tip">未完成学生</div>
								<div class="c_still-doing-student">
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
									<div class="c_opt">
										<input class="c_magic-checkbox" type="checkbox" name="layout" id="c1">
										<label for="c1">小明</label>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="modal-footer l_modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="modal-backdrop fade in"></div>