<div class="container l_content-box">
            <div class="l_content-nav">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#common"  data-toggle="tab">普通编组</a></li>
                    <li><a href="#executive" data-toggle="tab">主管编组</a></li>
                    <li><a href="#set" data-toggle="tab">编组设置</a></li>
                    <li><a href="#work" data-toggle="tab">群作业</a></li>
                </ul>
                <div id="myTabContent" class="tab-content l_tab-content-box">
                    <!--编组作业-普通编组-->
                    <div class="tab-pane fade in active l_content-tabs" id="common">
                        <div class="l_content-common-tible">
                            <h5><span style="color: red">*</span>评测学段、年级、学科、班型、课次及关卡</h5>
                        </div>
                        <div class="l_content-common-module clearfix">
                            <ul>
                                <li>
                                    <div class="l_div">
                                        六年级.尖子班.周六晚.4点-5点
                                    </div>
                                    <div class="l_div-a" style="display: none"></div>
                                </li>
                                <li class="clearfix">
                                    <div class="l_div" style="background: #2E9DFC;color: #fff;border: 1px solid #2E9DFC;">
                                        六年级.尖子班.周六晚.4点-5点
                                    </div>
                                    <div class="l_div-a">
                                        12课.作业关.第1关
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        六年级.尖子班.周六晚.4点-5点
                                    </div>
                                    <div class="l_div-a" style="display: none"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-table">
                            <table class="table table-bordered">
                                <tbody><tr class="l_table-tr-one">
                                    <td class="l_td-one">选择作业</td>
                                    <td>预习关</td>
                                    <td>作业关</td>
                                    <td>巩固关</td>
                                </tr>
                                <tr class="l_table-tr-box">
                                    <td>
                                        <div>第一课时</div>
                                        <div class="l_td-annotation">叫阿三的积分</div>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="l_table-tr-box">
                                    <td>
                                        <div>第二课时</div>
                                        <div class="l_td-annotation">叫阿三的积分</div>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="l_table-tr-box-bottom">
                                    <td colspan="4" style="padding: 7px 20px !important;">
                                        <ul class="clearfix l_ul">
                                            <li>上一页</li>
                                            <li>下一页</li>
                                            <li class="" data-toggle="modal" data-target="#myModal" style="padding-right: 0;border-right: none;">查看完整作业列表</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                        <div class="l_content-common-evaluating">
                            <h5 class="l_content-common-tible"><span style="color: red">* </span>评测名称</h5>
                            <textarea name="" id="" cols="30" rows="10" placeholder="单行输入"></textarea>
                        </div>
                        <div class="l_content-common-message">
                            <h5 class="l_content-common-tible"><span style="color: red">* </span>描述信息</h5>
                            <div style="padding: 5px;"> ***同学：</div>
                            <textarea name="" id="" cols="30" rows="10" placeholder="（选填）可+ 添加描述信息、只是脉络、易错点"></textarea>
                        </div>
                        <div class="l_content-common-nextStep">
                            <a href="h_xt.html" class="l_nextStep">下一步</a>
                        </div>
                    </div>
                    <!--编组作业-普通编组 -end-->
                    <!--编组作业-主管编组-->
                    <div class="tab-pane fade l_content-tabs" id="executive">
                        <div class="l_content-common-tible">
                            <h5><span style="color: red">*</span>评测学段、年级、学科、班型、课次及关卡</h5>
                        </div>
                        <div class="l_content-common-input clearfix">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">年份</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">学期</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">年级</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">科目</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                        </div>
                        <div class="l_content-common-module clearfix">
                            <ul>
                                <li>
                                    <div class="l_div">
                                        六年级.尖子班.周六晚.4点-5点
                                    </div>
                                    <div class="l_div-a" style="display: none"></div>
                                </li>
                                <li class="clearfix">
                                    <div class="l_div" style="background: #2E9DFC;color: #fff;border: 1px solid #2E9DFC;">
                                        六年级.尖子班.周六晚.4点-5点
                                    </div>
                                    <div class="l_div-a">
                                        12课.作业关.第1关
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        六年级.尖子班.周六晚.4点-5点
                                    </div>
                                    <div class="l_div-a" style="display: none"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-table">
                            <table class="table table-bordered">
                                <tbody><tr class="l_table-tr-one">
                                    <td class="l_td-one">选择作业</td>
                                    <td>预习关</td>
                                    <td>作业关</td>
                                    <td>巩固关</td>
                                </tr>
                                <tr class="l_table-tr-box">
                                    <td>
                                        <div>第一课时</div>
                                        <div class="l_td-annotation">叫阿三的积分</div>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="l_table-tr-box">
                                    <td>
                                        <div>第二课时</div>
                                        <div class="l_td-annotation">叫阿三的积分</div>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li>第一关</li>
                                            <li>第二关</li>
                                            <li>第三关</li>
                                            <li class="l_add-btn">+ 添加</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="l_table-tr-box-bottom">
                                    <td colspan="4" style="padding: 7px 20px !important;">
                                        <ul class="clearfix l_ul">
                                            <li>上一页</li>
                                            <li>下一页</li>
                                            <li class="" data-toggle="modal" data-target="#myModal" style="padding-right: 0;border-right: none;">查看完整作业列表</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody></table>
                        </div>
                        <div class="l_content-common-evaluating">
                            <h5 class="l_content-common-tible"><span style="color: red">* </span>评测名称</h5>
                            <textarea name="" id="" cols="30" rows="10" placeholder="单行输入"></textarea>
                        </div>
                        <div class="l_content-common-message">
                            <h5 class="l_content-common-tible"><span style="color: red">* </span>描述信息</h5>
                            <div style="padding: 5px;"> ***同学：</div>
                            <textarea name="" id="" cols="30" rows="10" placeholder="（选填）可+ 添加描述信息、只是脉络、易错点"></textarea>
                        </div>
                        <div class="l_content-common-nextStep">
                            <a class="l_nextStep">下一步</a>
                        </div>
                    </div>
                    <!--编组作业-主管编组 -end-->
                    <!--编组作业-编组设置-->
                    <div class="tab-pane fade l_content-tabs" id="set">
                        <div class="l_content-common-input clearfix">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">年份</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">学期</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">年级</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                   <span style="float: left;">科目</span>
                                   <span style="float: right;margin: 8px 0;" class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                 </ul>
                            </div>                           
                        </div>
                        <div class="l_content-common-module clearfix">
                            <ul>
                                <li>
                                    <div class="l_div">
                                        提高班
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="l_div" style="background: #2E9DFC;color: #fff;border: 1px solid #2E9DFC;">
                                        英语尖子班
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        班级名称班级名称班级名称班级名称班级名称
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        提高班
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                       英语学习尖子班（1）班
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        班级名称班级名称班级名称班级名称班级名称
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        班级名称班级名称班级名称班级名称班级名称
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        提高班
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        英语学习尖子班（1）班
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        提高班
                                    </div>
                                </li>
                                <li>
                                    <div class="l_div">
                                        英语学习尖子班（1）班
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-classroom">
                            <h5 class="l_content-common-tible">课堂设置</h5>
                            <ul>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <span class="l_span">第一次课</span>
                                    <input type="text" class="form-control" id="name" placeholder="单行输入">
                                </li>
                                <li class="form-group">
                                    <img src="../asstes/abc.png" alt="" style="padding-right: 9px;">
                                    <img src="../asstes/abcc.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-type">
                            <h5 class="l_content-common-tible">作业类型设置</h5>
                            <ul>
                                <li class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="预习关">
                                </li>
                                <li class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="作业关">
                                </li>
                                <li class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="巩固关">
                                </li>
                                <li class="form-group">
                                    <img src="../assets/abc.png" alt="" style="padding-right: 9px;">
                                    <img src="../assets/abcc.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-censorship">
                            <h5 class="l_content-common-tible">关卡设置</h5>
                            <ul>
                                <li class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="第一关">
                                </li>
                                <li class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="第二关">
                                </li>
                                <li class="form-group">
                                    <img src="../assets/abc.png" alt="" style="padding-right: 9px;">
                                    <img src="../assets/abcc.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-nextStep">
                            <a class="l_nextStep">保存</a>
                        </div>
                    </div>
                    <!--编组作业-编组设置 -end-->
                    <!--编组作业-群作业-->
                    <div class="tab-pane fade l_content-tabs" id="work">
                        <div class="l_content-common-tible">
                            <h5>评测学生 <span style="color: #2E9DFC">（提示：告知学生分组号，学生可加入分组完成作业）</span></h5>
                        </div>
                        <div class="l_content-common-test clearfix">
                            <ul>
                                <li>
                                    <div class="l_div-one">小明、韩梅梅超常生</div>
                                    <div class="l_div-two">分组号：1234</div>
                                </li>
                                <li class="clearfix" style="background: #2E9DFC;color: #fff;border: 1px solid #2E9DFC;">
                                    <div class="l_div-one">小明、韩梅梅超常生</div>
                                    <div class="l_div-two" style="color: #fff">分组号：1234</div>
                                </li>
                                <li>
                                    <div class="l_div-one">小明、韩梅梅超常生</div>
                                    <div class="l_div-two">分组号：1234</div>
                                </li>
                                <li class="l_li-add" data-toggle="modal" data-target="#grouping">
                                    +新增分组
                                </li>
                            </ul>
                        </div>
                        <div class="l_content-common-record clearfix">
                            <h5 class="l_content-common-tible">作业记录<span></span></h5>
                            <a href="#" class="z_xinZeng">新增</a>
                            <ul>
                                <li class="l_div-box clearfix">
                                    <div class="l_div-w">
                                        <div>高二数学测试 -123456765432</div>  
                                        <div>群组：6765432</div>
                                    </div>
                                    <div class="l_div-t clearfix"> 
                                        <div id="l_authorized-work" style="width: 80px; height: 80px; float: left; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" _echarts_instance_="ec_1497833291928"><div style="position: relative; overflow: hidden; width: 80px; height: 80px; padding: 0px; margin: 0px; border-width: 0px;"><canvas width="80" height="80" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 80px; height: 80px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div> 
                                        <div style="float: right;padding-top: 20px;padding-right: 40px;">
                                            <div>76%</div>
                                            <div style="color: #bbb">正确率</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="l_div-box clearfix">
                                    <div class="l_div-w">
                                        <div>高二数学测试 -123456765432</div>  
                                        <div>群组：6765432</div>
                                    </div>
                                    <div class="l_div-t clearfix"> 
                                        <div id="l_authorized-work1" style="width: 80px; height: 80px; float: left; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" _echarts_instance_="ec_1497833291929"><div style="position: relative; overflow: hidden; width: 80px; height: 80px; padding: 0px; margin: 0px; border-width: 0px;"><canvas width="80" height="80" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 80px; height: 80px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div> 
                                        <div style="float: right;padding-top: 20px;padding-right: 40px;">
                                            <div>76%</div>
                                            <div style="color: #bbb">正确率</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="l_div-box clearfix">
                                    <div class="l_div-w">
                                        <div>高二数学测试 -123456765432</div>  
                                        <div>群组：6765432</div>
                                    </div>
                                    <div class="l_div-t clearfix"> 
                                        <div id="l_authorized-work2" style="width: 80px; height: 80px; float: left; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" _echarts_instance_="ec_1497833291930"><div style="position: relative; overflow: hidden; width: 80px; height: 80px; padding: 0px; margin: 0px; border-width: 0px;"><canvas width="80" height="80" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 80px; height: 80px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div> 
                                        <div style="float: right;padding-top: 20px;padding-right: 40px;">
                                            <div>76%</div>
                                            <div style="color: #bbb">正确率</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="l_div-box clearfix">
                                    <div class="l_div-w">
                                        <div>高二数学测试 -123456765432</div>  
                                        <div>群组：6765432</div>
                                    </div>
                                    <div class="l_div-t clearfix"> 
                                        <div id="l_authorized-work3" style="width: 80px; height: 80px; float: left; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" _echarts_instance_="ec_1497833291931"><div style="position: relative; overflow: hidden; width: 80px; height: 80px; padding: 0px; margin: 0px; border-width: 0px;"><canvas width="80" height="80" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 80px; height: 80px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div> 
                                        <div style="float: right;padding-top: 20px;padding-right: 40px;">
                                            <div>76%</div>
                                            <div style="color: #bbb">正确率</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="pagination paging">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>

                    </div>
                    <!--编组作业-群作业 -end-->
                </div>
            </div>
            <div class="l_content-main">

            </div>
        </div>