<div class="c_nav-box-two">
            <div class="c_nav-box-two-box">
                <a routerLink="one">
                    <dl class="c_second-nav-active">
                        <dt><i class="glyphicon">
                            <img src="../From/images/shuju1@1x.png">
                        </i></dt>
                        <dd>作业数据</dd>
                    </dl>
                </a>
                <a routerLink="two">
                    <dl>
                        <dt><i class="glyphicon">
                            <img src="../From/images/xuesheng@1x.png">
                        </i></dt>
                        <dd>学生数据</dd>
                    </dl>
                </a>
                <a routerLink="three">
                    <dl>
                        <dt><i class="glyphicon">
                            <img src="../From/images/zhuguan@1x.png">
                        </i></dt>
                        <dd>主管数据</dd>
                    </dl>
                </a>
            </div>
        </div>