<div class="l_nav-box-two">
            <div class="l_nav-box-two-box">
                <a href="authorized-work.html">
                    <dl style="color: #2E9DFC">
                        <dt><i class="glyphicon">
                        	<img src="../../assets/bianzu1@1x.png">
                        </i></dt>
                        <dd>编组作业</dd>
                    </dl>
                </a>
                <a href="auditor-work.html">
                    <dl>
                        <dt><i class="glyphicon">
                        	<img src="../../assets/shenhe@1x.png">
                        </i></dt>
                        <dd>审核作业</dd>
                    </dl>
                </a>
                <a href="issue-work.html">
                    <dl>
                        <dt><i class="glyphicon">
                        	<img src="../../assets/fabu@1x.png">
                        </i></dt>
                        <dd>发布作业</dd>
                    </dl>
                </a>
                <a href="work-record.html">
                    <dl>
                        <dt><i class="glyphicon">
                        	<img src="../../assets/jilu@1x.png">
                        </i></dt>
                        <dd>作业记录</dd>
                    </dl>
                </a>
            </div>
        </div>