
/*input{*/
    /*border-width: 1px !important;*/
/*}*/
/****header***/
header,header>div,.l_nav{width:100%;}
header{
    height: 50px;
    line-height: 50px;
    margin: auto;
    text-align: center;
    background: #2E9DFC;
    color:#FFF;
}
header a:hover {
    color: #fff;
}


header div,header div li{
    display: inline-block;
}
header div li a{
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    color: #FFF;
    font-size: 14px;
    vertical-align: bottom;
    border-radius: 5px 5px 0 0;
    background:#247DC9;
}
header div li a.z_cur{
    background: #F5F5F5 ;
    color: #2E9DFC;
    border-radius: 5px 5px 0 0;
}
header>div>div>span>img{
    display: inline-block;
    vertical-align: middle;
}
header>div>div:nth-child(1){
    float: left;
}
/**/
header>div>div:nth-child(1) span{
    display:inline-block;
    height:50px;
    font-size:18px;
    line-height:50px;
}
header>div>div:nth-child(1) span>img{
    display: inline-block;
    height:25px;
    width:80px;
    padding:11px 7px 13px 60px;
    box-sizing: content-box;
}
/**/
header>div>div:nth-child(3){
    float: right;
}
header>div>div:nth-child(3) img{
    display: inline-block;
    vertical-align: middle;
    margin:0 5px 0 20px;
}

.l_nav{
    height: 70px;
    line-height: 70px;
    background: #F5F5F5;
    border: 1px solid #E4E9F0;
    /*padding-left: 550px;*/
}


/*header*/
.l_nav div  {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-right: 45px;
    cursor: pointer;
}
.l_nav_new>div>div{
    display: inline-block;
}
.l_nav i {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    left: 15px;
}
.l_nav div.cur>i img:nth-child(1) {
    z-index: 100;
}
.l_nav img {
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
    position: absolute;
}
.l_nav  a{
    display: inline-block;
    position: relative;
}
.l_nav .cur  span {
    color: #2E9DFC;
}
.l_nav span {
    display: inline-block;
    font-size: 14px;
    color: #003500;
    line-height: 35px;
    vertical-align: top;
}
.l_nav div.cur i img:nth-child(1) {
    z-index: 100;
}

/***导入需要的bootstrap文件***/
@import "~bootstrap/dist/css/bootstrap.min.css";